# Pandas 고급

### DataFrame 을 csv file 로 write

### df.apply + lambda 
- 특정 column 에 함수의 반환값 저장

### lambda 보다 더 복잡한 함수 적용

## Indexing of DataFrame

### column 명 변경
- column 명을 friendly 하게 변경

### Boolean indexing

- Boolean mask condition 으로 DataFrame을 검색하여 조건에 맞는 row 검색

- where : no value 포함하여 return  

- boolean indexing : no value 제외 return

- where 를 이용하여 모든 row return

- boolean indexing을 이용하여 조건에 맞는 row만 return

### 복사본 만들기 - 얕은 복사(shallow copy) / 깊은 복사(deep copy)

- 얕은 복사 : 원본과 index/data 공유  
- 깊은 복사 : 별도의 index/data 생성

## 다중인덱싱 (Multi Index)

- index 가 여러개일 경우 다중 인덱싱이 가능하다.

## multi index 연습 

- country / state / county level 의 summary 를 구하기 위해 사용  
- STNAME : state 명 
- CTYNAME : county 명  
- SUMLEV 50 은 county level의 합계 (STNAME 과 CTYNAME이 동일), 40 은 state level 의 합계

- 필요한 column 외에는 삭제

- (state 명, county 명)으로 multi index 생성

- 특정 state, county 만 query

### apply 
- county 별로 전체 column의 최대, 최소값 계산

- 최대/최소값을 series 로 반환하는 경우

- new column을 반환하는 경우

## Column Value Update

- 새로운 column 추가

- broadcasting

- index 재설정

- 특정 column 의 값을 Series를 이용하여 update

# Merging and Concatenating

## Concatenation

- Concatenation 은 DataFrame 들을 단순히 가져다 붙이는 것이다. 
- DataFrame 들의 dimension 이 반드시 같아야 한다.  
- SQL 의 UNION 에 해당  
- 두개 이상의 DataFrame 연결

## Merging

- Pandas 의 **merge** mothod는 SQL Table merge 와 유사한 기능을 제공한다.   
- 두개의 DataFrame 을 대상으로 한다.  
- index 를 기준으로 join

### DataFrame 간의 Join

<img src="venDiagram.png" width=400>
<p> Inner Join (Intersection) </p>
<img src="innerJoin.png" width=300>

### outer join 

- 두 DataFrame 의 모든 index 포함

### inner join (default)
- intersection (교집합)  
- 두 DataFrame 에 공통적으로 존재하는 index 기준

### left join $\rightarrow$ SQL 의 left outer join 과 유사 
- left DataFrame 은 모두 포함되고 right DataFrame 은 공통 index 만 포함

### right join $\rightarrow$ SQL 의 right outer join 과 유사 

- right DataFrame 은 모두 포함되고 left DataFrame 은 공통 index 만 포함

### index 가 단순 sequence 일 경우 join 에 사용할 column 지정

### 중복된 column 명이 있을 경우 자동으로 suffix 부여

### left : `_x`, right: `_y`

## 연습 문제 - 1

- 다음과 같은 두개의 DataFrame 을 생성하고 하나의 DataFrame 으로 join

### product DataFrame

- productID를 index 로 사용하는 dataframe

| productID | Price | Product | 
|:---:|:---:|:---:|
| 4109| 5.0 | Sushi Roll | 
| 1412 | 0.5 | Egg |
| 8931 | 1.5 | Bagel |

### invoice DataFrame

- sequence가 index인 dataframe

<table>
    <th></th>
    <th>Customer</th>
    <th>ProductId</th>
    <th>Quantity</th>
    <tr>
    <td>0</td>
     <td>ALi</td>
     <td>4109</td>
     <td>1</td>
    </tr>
    <tr>
    <td>1</td>
    <td>Eric</td>
     <td>1412</td>
     <td>12</td>
     </tr>
    <tr>
     <td>2</td>
    <td>Ande</td>
     <td>8931</td>
     <td>6</td>
     </tr>
    <tr>
    <td>3</td>
    <td>Sam</td>
    <td>4109</td>   
    <td>2</td>
    </tr>
</table>

- productID를 기준으로 join

```
  Customer  ProductID  Quantity  Price     Product
0      Ali          4109         1          5.0    Sushi Roll
3      Sam       4109         2          5.0    Sushi Roll
1     Eric         1412        12         0.5         Egg
2     Ande       8931         6          1.5       Bagel
```

## Method Chaining

- readability를 향상 시키는 코딩 관습

- method chaining 사용 않을 경우

- method chaining을 사용할 경우 

- python은 `()`를 이용하면 여러 line 에 걸쳐 coding 가능

## groupby

### groupby 를 사용하지 않고 wine quaility 별 평균 fixed acidity 구하기

###  group by 를 사용하여 wine quaility 별 평균 fixed acidity 구하기

### groupby + aggregate method 사용
- agg : alias of aggretate

## Scales (척도)

- 명목 척도 (nominal scale): 말 그대로 이름뿐인 척도. Categorical data. 순서 없음. (예. 남성, 여성, 동물 종류)

- 순위 척도(ordinal scale) : 말 그대로 순위를 나타내는 척도 (예. 성적) 

- 등간 척도(interval scale): 척도간의 간격이 일정. 0이 아무런 기준을 갖지 않음.(예. 온도)   

- 비율 척도 (ratio scale): 절대 영점이 있는 등간 척도. 0이 절대적인 기준이 되며 두 척도 사이에 비율이 존재. 우리가 사용하는 대부분의 척도 
(예. 거리, 무게, 시간 등). 일반 numeric variable.

### Pandas 로 명목 척도 (Nominal Scale) 표현

- 명목 변수 (Nominal Variable) 처리를 위한 Dummy Variable 생성
- pd.get_dummies() method 사용

### Pandas로 순서가 있는 Category 변수 (순위 척도) 표현

- data type 변환 방법 

    - Grades column 을 순서가 있는 category column 으로 변환. 
    - number 로 encoding 않아도 data 자체에서 category 의 순서를 기억하도록 Pandas 가 지원
    - pd.factorize method를 이용하여 integer 변환

- 순위 변수의 dtype 을 category 로 변환

### 등간척도 (interval scale) 표현 --> binning
- 연속된 숫자를 구간화 (등간 척도)

- pandas 는 `cut` method로 binning 지원

#### 3 구간으로 구분

- category 속성

 - pd.factorize method를 이용하여 등간척도를 integer 변환

- category 제거

- category 추가

### category 변수 실습

## Pivot Tabels

- 여러 데이터 중에서 자신이 원하는 데이터만을 가지고 원하는 행과 열에 데이터를 배치하여 새로운 보고서를 만드는 기능

### pivot table 작성예 1
- 전기차 연비 data 에서 연도, 제작사 (`YEAR`, `Make`) 별로 평균 배터리용량 `(kw)` 을 보여주는 pivot table 생성  

- 연도를 index 로 하고, 제작사를 column 에 배치 

- pivot table 의 value 는 해당연도 제작사 배터리 용량의 평균값 표시

### pivot table 작성 예 2

- 위와 동일한 방법으로 평균과 최소량을 동시에 보여주는 pivot table 생성

- aggfunc 별 subtotal 추가  

    - margins = True

## 연습 문제 - 2

- 위의 cars.csv 파일의 column 명이 너무 길므로 column 명 중 `(kW)` 를 `kw` 로,  `CITY (kWh/100 km)` 을 `city-km` 으로 변경  

- groupby 함수를 사용하여,  연도별 평균 배터리 용량(`kw`) 표시 (`Make` 무시)  

- 연도, 제작사별로 평균 `city-km`을 보여주는 pivot table 작성

# 날자 data 처리 기능

### Timestamp

- Python 의 datetime 과 대부분의 경우 호환  

- DatetimeIndex 로 사용

### DatetimeIndex

### Datetime format 으로 convert

- 다양한 현태의 날자 표현을 모두 `pd.to_datetime` method를 이용하여 DatetimeIndex로 변환

### Timedelta

- difference of time